/*
SODV 2201 Group 3 Term Project -- BVC Day Timer App 
Designed and programmed by    :   Candace Arriola and Paul K Kho
Course                        :   SOVD 2201 Web Programming Section 1 Group 3
Instructor                    :   Tigist B
Due                           :   December 14th 2022

*/
.reg{
  text-align:center;
  font-family: 'Times New Roman', Times, serif;

}

body{
  background-image:url("https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



form{
  text-align: center;
  align-items: center;
  display: block;
}

p{
  text-align: center;
}
